<link rel="stylesheet" type="text/css" href="images/js/xtree/css/xtree.css">
<script language="JavaScript" src="images/js/xtree/js/xtree.js"></script>
<center>
<table width="100%">
	<tr>
		<td valign="top" width="35%" id="right_row">
			<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
				<tr>
					<td height="25" background="images/tb_background.gif">&nbsp;&nbsp;<font color="#FFFFFF">采集器分类</font></td>
				</tr>
				<tr>
					<td style="border: 1px solid #CCCCCC" height="250" width="10%" bgcolor="#FFFFFF" valign="top">
					<center>
						<table width="95%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
							<tr>
								<td ><br><div id="newscategory"></div><br><br>
								</td>
<script language="JavaScript">
		<!--

		var root=new treeItem("采集器分类","?module=addCategory","","",icon.root.src);

		{tree}
		{root}
		{item}

		root.setup(document.getElementById("newscategory"));
		//-->
		</script>
						</tr>
					</table>
					</center>
				</td>
			</tr>
		</table>
		</td>
		<form method=post action="index.php?module=addCategory&action=submit">
		<td width="65%" valign="top">
			<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
				<tr>
					<td height="25" background="images/tb_background.gif" colspan="2">&nbsp;&nbsp;<font color="#FFFFFF">添加采集器分类</font></td>
				</tr>
				<tr>
					<td style="border: 1px solid #CCCCCC" height="30" width="15%"><center>分类名字</center></td>
					<td style="border: 1px solid #CCCCCC" height="30">
					&nbsp;&nbsp;<input type="text" name="title" size="40" title="在这里输入采集器的分类名称" class="button">
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid #CCCCCC" height="30"><center>所属分类</center></td>
					<td style="border: 1px solid #CCCCCC" height="30">
					&nbsp;&nbsp;<select name="pid">{option}</select>&nbsp;&nbsp;<a href="#" onclick="toggle_collapse('right_row');" title="显示或者隐藏左边的分类栏目"><b>显隐左栏分类</b></a>
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid #CCCCCC" height="30"><center>栏目排序</center></td>
					<td style="border: 1px solid #CCCCCC" height="30">
					&nbsp;&nbsp;<input type="text" name="orderid" size="5" class="button"> (推荐留空,由系统生成编号,方便日后排序.)
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid #CCCCCC" height="30" colspan="2" align="right">
					<input type="submit" value="添加分类" title="添加分类"  class="button">&nbsp;&nbsp;
					</td>
				</tr>			
			</table>
		</td>
		</form>
	</tr>
</table>