					<form enctype="multipart/form-data" method=post action="index.php?module=importDBRules&setp=info">
					<center>
					<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
                      <tr>
								<td height="25" background="images/tb_background.gif" colspan="2">&nbsp;&nbsp;<font color="#FFFFFF">数据库配置导入</font></td>
							</tr>
                      <tr onMouseOver="this.style.backgroundColor = '#F7F7F7'" onMouseOut="this.style.backgroundColor = ''"> 
                        <td style="border: 1px solid #CCCCCC" height="30" bgcolor="#F7F7F7" width="35%"> 
                          <center>
                            选择数据库配置导入文件 
                          </center>
                        </td>
                        <td style="border: 1px solid #CCCCCC" height="30" width="65%"> 
                          &nbsp;&nbsp; 
                          <input type="file" name="configFile" class="button">
                        </td>
                      </tr>
                      <tr> 
                        <td height="30" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" colspan="2"> 
                          <p align="right"> 
                            <input type="submit" value="确定" class="button">
                            &nbsp;&nbsp; 
                        </td>
                      </tr>
                    </table>
					</center>
					</form>