<center>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
<tr>
	<td height="25" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" width="10%"><center>文章标题</center></td>
	<td height="25" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="60%">&nbsp;&nbsp;{title}</td>
	<td height="25" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" width="10%"><center>采集时间</center></td>
	<td height="25" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="20%"><center>{date}</center></td>
</tr>
<tr>
	<td style="border: 1px solid #CCCCCC"  colspan="4">
	<br>
	<center>
		<table width="98%">
		<tr>
			<td>
			{body}
			</td>
		</tr>
		</table>
	</center>
	<br><br>
	</td>
</tr>
<tr>
	<td height="25" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" width="100%" colspan="4"><center>文章简介</center></td>
</tr>
<tr>
	<td style="border: 1px solid #CCCCCC"  colspan="4">
	<br>
	<center>
		<table width="100%">
		<tr>
			<td>
			{intro}
			</td>
		</tr>
		</table>
	</center>
	<br>
	</td>
</tr>
<tr>
	<td height="25" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" width="10%"><center>文章来源</center></td>
	<td height="25" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="60%">&nbsp;&nbsp;{from}</td>
	<td height="25" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" width="10%"><center>文章作者</center></td>
	<td height="25" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="20%"><center>{author}</center></td>
</tr>
<tr>
	<td height="25" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" width="10%"><center>原始地址</center></td>
	<td height="25" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="60%">&nbsp;&nbsp;<a href="{fullURL}" target="_blank">{url}</a></td>
	<td height="25" bgcolor="#EFEFEF" style="border: 1px solid #CCCCCC" width="10%"><center>相关操作</center></td>
	<td height="25" bgcolor="#F7F7F7" style="border: 1px solid #CCCCCC" width="20%"><center><a href="JAVASCRIPT:history.go(-1);">返回文章列表</a></center></td>
</tr>
</table>
</form>
</center>